.react-grid-item {
    display: flex;
    flex-direction: column;
}

.react-grid-item > div {
    height: 100%;
}

/* .react-grid-item > .react-resizable-handle {
    background-image: unset
}

.react-grid-item > .react-resizable-handle::after {
    content: none;
} */