.react-grid-item {
    display: flex;
    flex-direction: column;
}

.react-grid-item > div {
    height: 100%;
}

.react-grid-item > .react-resizable-handle {
    bottom: 6px;
    pointer-events: all;
}

.react-grid-item.react-grid-placeholder {
    background: #2979FF;
    opacity: 0.5;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

/* Just in the future we decide to hide the resize icon we can uncomment these lines */

/* .react-grid-item > .react-resizable-handle {
    background-image: unset
}

.react-grid-item > .react-resizable-handle::after {
    content: none;
} */

